.signup-container{
    background: var(--Background-Color, #FCFEFF);
    height: max-content;
    .signup-form{
        width: 50%;
        padding: 64px 0px 0px 0px;
        gap: 20px;
        .signup-content{
            /* padding: 24px; */
            gap: 42px;
            .signup-header{
                text-align: center;
                width: 100%;
                h1{
                    color: var(--Primary-Primary, #203645);
                    text-align: center;
                    font-family: "Florencesans Exp";
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 43.2px */
                }
                p{
                    color: var(--Neutrals-Base-Black, #333);
                    text-align: center;
                    font-family: "Unitext Regular";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    letter-spacing: 0.16px;
                }
            }
            main{
                a{
                    color: var(--Primary-Primary, #203645);
                    font-family: "Unitext Regular";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    letter-spacing: 0.16px;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 16px;
                    .signup-name{
                        gap: 24px;
                    }
                    .signup-password{
                        gap: 8px;
                        width: 100%;
                        #password-txt, .password-nomatch, password-match{
                            margin: 0;
                            color: var(--Neutrals-Neutrals900, #585858);
                            font-family: "Unitext Regular";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 141.4%; /* 16.968px */
                            letter-spacing: 0.12px;
                        }
                        .password-nomatch{
                            color: var(--Error-Error, #F44336);
                        }
                        .password-match{
                            display: none;
                        }
                        .invalid{
                            border: 1px solid #F44336;
                        }
                        
                    }
                    .checkbox{
                        .checkbox-container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            input[type='checkbox']{
                                width: 24px;
                                height: 24px;
                            }
                            label{
                                color: var(--Neutrals-Base-Black, #333);
                                text-align: center;
                                font-family: "Unitext Regular";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%; /* 24px */
                            }
                            
                        }
                        
                    }
                    button[type='submit']{
                        margin-top: 24px;
                        width: 100%;
                        padding: 15px;
                        border-radius: 8px;
                        background: var(--Primary-Primary, #203645);
                        color: var(--Base-Base-White, #FFF);
                        font-family: "Unitext Regular";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: 0.16px;
                    }
                    .signup-location{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        width: 100%;
                        label{
                            color: var(--Base-Base-Black, #333);
                            font-family: "Unitext Regular";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 16.8px */
                        }
                        select{
                            width: 100%;
                            height: 48px;
                            padding: 5px 16px;
                            border-radius: 8px;
                            border: 1px solid var(--Primary-Primary200, #C7D9E5);
                            background: var(--Background-Color, #FCFCFC);
                            color: var(--Neutrals-Neutrals900, #585858);
                            font-family: "Unitext Regular";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            letter-spacing: 0.16px;
                            option{
                                color: var(--Neutrals-Neutrals900, #585858);
                                font-family: "Unitext Regular";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                letter-spacing: 0.16px;
                            }
                        }
                    }
                }
                p{
                    margin: 24px 0px 0px 0px;
                    a{
                        font-weight: 700;
                    }
                }

            }
        }
    }
    .signup-carousel{
        width: 50%;
        .carousel{
            height: unset;
            .carousel-inner{
                .carousel-item{
                    .carousel-caption{
                        top: 1.25rem;
                        right: unset; 
                        bottom: unset;
                        left: unset;
                        padding-top: unset;
                        padding-bottom: unset;
                    }
                }
            }
            .signup-carousel-img{
                height: 917px;
                filter:unset;
                object-fit:unset;
            }
        }
        .carousel-caption-txt{
            color: var(--Base-Base-White, #FFF);
            text-align: center;
            font-family: "Florencesans Exp";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /*33.6px */
        }
    }
}
