.pagination-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    width: 100%;
    .pagination-controls{
        display: flex;
        align-items: center;
        gap: 16px;
        .pagination-link{
            display: flex;
            height: 40px;
            padding: var(--Spacing-s, 8px) var(--Spacing-m, 16px);
            justify-content: center;
            align-items: center;
            gap: var(--Spacing-xxs, 4px);
            border-radius: var(--Radius-m, 10px);
            cursor: pointer;
            span{
                color: var(--Base-Base-Black, #333);
                font-family: "Unitext Regular";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 1.05rem */
            }
        }
        .pagination-link:hover{
            text-decoration: underline;
        }
        .page-numbers{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 4px;
            margin: 0;
            padding: 10px;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 40px;
                height: 40px;
                padding: 16px;
                border-radius: var(--Radius-s, 4px);
                color: var(--Base-Base-Black, #333);
                font-family: "Unitext Regular";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 1.05rem */
                cursor: pointer;
            }
            .active{
                background: var(--Primary-Primary100, #E3ECF2);
            }
        }
    }
}