:root{
    --Background-Color: #FCFCFC;
    --Primary-Primary: #203645;
    --Base-Base-White: #FFF;
    --Base-Base-Black: #333;
    --Neutrals-Neutrals200: #DADADA;
    --Neutrals-Neutrals900: #585858;
    --Secondary-Secondary500: #C2A269;
    --negative-margin: -100px;
    --Spacing-xl: 48px;
    --Spacing-m: 16px;
    --Spacing-l: 32px;
}

.carousel{
    width: 100%;
    overflow: hidden;
}

.carousel-item img{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
    filter: brightness(60%);
}

.banner-content-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content-container{
    .arow{
        width: 95.88%;
        /* margin: 0 auto; */
        .filter-heading{
            display: flex;
            flex-direction: column;
            gap: 112px;
        }
    }
}

.search-container{
    padding: 24px;
    align-self: stretch;
    display: flex;
    border-radius: 8px;
    background-color: #FCFCFC;
    align-items: center;
}

.brow{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    text-align: center;
}
.headings{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.align-search-container{
    display: flex;
    gap: 26px;
    align-self: stretch;
}
.home-select-option{
    display: flex;
    gap: 16px;
    align-self: stretch;
    .select, option {
        width: 153px;
        height: 48px;
        margin: 0px;
        padding: 8px 16px;
        border-radius: 8px;
        font-family: "Unitext Regular";
        color: var(--Neutrals-Neutrals900);
    }
}
.banner-main-heading{
    color: var(--Base-Base-White, #FFF);
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 3.6rem */
}
.banner-sub-heading{
    color: var(--Base-Base-White, #FFF);
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.65rem */
}


.search-btn {
    font-family: "Unitext Regular";
    justify-content: center;
    align-items: center;
    background: var(--Primary-Primary);
    width: 130px;
    height: 48px;
    font-weight: bold;
    border-radius: 8px;
}

.search-icon {
    width: 24px; /*19.108px;*/
    height: 24px /*21.814px;*/
}

.featured{
    width: 93.88%;
    margin: 0 auto;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    .feature-main-heading{
        color: var(--Primary-Primary);
        font-size: 36px; 
        font-weight: 700;
        line-height: 43.2px;
        margin: 0;
        text-align: center;
    }  
    .feature-sub-heading{
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: center;
    }
}
.featured-container {
    /* flex-wrap: wrap; */
    /* width: 95.88vw; */
    width: 95vw;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    

    .horizontal-scroll-btn{
        width: 95vw;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        /* right: -6px; */
    }
}
.featured-inner-container{
    min-width: max-content;
    display: flex;
    gap: 24px;
    padding: 20px 10px;
    flex-wrap: nowrap;
}
.scroll-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome/Safari */
}
/* .card {
    border-radius: 8px;
}
.divider{
    border: 1px solid black;
}
.card-text {
    font-family: 'Unitext Regular';
}
.card-title{
    color: var(--Base-Base-Black);
}
.card-footer-icon, .naira-icon{
    width: 26px;
    height: 26px;
    color: var(--Secondary-Secondary500);
}
.location-icon{
    width: 30px;
    height: 30px;
    color: var(--Primary-Primary);
}
.price{
    font-family: 'Unitext Regular';
    font-size: 24px;
    color: var(--Secondary-Secondary500);
}
.featured-card{
    width: var(--content-width);
    margin: auto;
    position: relative;

}
.featured-item{
    margin: 24px;
    margin-right: 0px;
    border-radius: 8px;

}
.row > h1{
    font-size: 36px;
}
.row > h5 {
    font-size: 18px;
} */
/* Card Styles */

.left-arrow {
    background-color: var(--Base-Base-White);
    border: 1px solid var(--Base-Base-Black);
    border-radius: 50%;
    top: 43%;
    left: 0px;
    width: 45px;
    height: 45px;
    z-index: 1;
}
.right-arrow {
    background-color: var(--Base-Base-White);
    border: 1px solid var(--Base-Base-Black);
    border-radius: 50%;
    top: 43%;
    right: 20px;
    width: 45px;
    height: 45px;
    z-index: 1;
}
.left-arrow:hover,.right-arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.arrow-icon{
    width: 20px;
    height: 20px;
}
/* Services Section */
.services{
    width: 95.88%;
    padding-bottom: 120px;
    margin: auto;
}
.text-center > h5{
    margin-bottom: 64px;
}

.services-img{
    width: 280px;
    height: 400px;
}
.services-img-container > .col:nth-of-type(1){
    filter: drop-shadow(5px 0px 40px #FFF);
    padding: 0px;
    /* margin-left: -11px; */
}
.services-img-container > .col:nth-of-type(2) {
    margin-left: var(--negative-margin);
    z-index: -1;
    filter: drop-shadow(5px 0px 40px #FFF);
    padding: 0px;
}
.services-img-container > .col:nth-of-type(3) {
    margin-left: var(--negative-margin);
    filter: drop-shadow(5px 0px 40px #FFF);
    z-index: -2;
    padding: 0px;
}
.services-img-container > .col:nth-of-type(4) {
    margin-left: var(--negative-margin);
    filter: drop-shadow(5px 0px 40px #FFF);
    z-index: -3;
    padding: 0px;
}
.services-img-container > .col:nth-of-type(5) {
    margin-left: var(--negative-margin);
    filter: drop-shadow(5px 0px 40px #FFF);
    z-index: -4;
    padding: 0px;
}

/* Testimonial Styles */



.question{
    display: flex;
    padding: 120px 0px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
    background: linear-gradient(180deg, #E3ECF2 0%, #FCFCFC 100%);
}
.heading {
    color: var(--Primary-Primary, #203645);
    text-align: center;
    font-family: "Florencesans Exp";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 43.2px */
}

.sub-heading {
    color: var(--Base-Base-Black, #333);
    text-align: center;
    font-family: "Florencesans Exp";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
}
/* FAQ Section */
.faqs{
    background: linear-gradient(180deg, #E3ECF2 0%, #FCFCFC 100%);
    width: 100%;
    margin: auto;
    padding: 120px 0px;
    gap: 64px;
    padding-bottom: 20px;
}
.faq-scroll{
    width: 60%;
}


/*list  my proerties*/

.lmp{
    width: 95.88%;
    margin:0 auto;
    display: flex;
    padding: 120px 0px;
    gap: 88px;
}
.lmp-img{
    width: 50%;
    height: 459px;
    border-radius: 9.46px;
}
.lmp-content{
    width:448px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 32px;
}
.lmp-content-title{
    font-family: "Florencesans Exp";
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    color: var(--Primary-Primary);
}
.lmp-content-subtext{
    font-family: "Unitext Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;

}
.lmp-button{
    width: 167px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Unitext Regular";
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    line-height: 19.2px;
    color: var(--Base-Base-White);
    background: var(--Primary-Primary);
    cursor: pointer;
}

.download{
    width: 95.88%;
    /* height: 733px; */
    padding: 48px 120px;
    display: flex;
    margin: auto;
    gap: 88px;
    background: var(--Primary-Primary);
    /* margin-bottom: 120px; */
    color: var(--Base-Base-White);
}
.download-content{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:446px;
    align-items: center;
    gap: 32px;
}
.download-content-title{
    margin: 0;
    font-family: "Florencesans Exp";
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
}
.download-content-subtext{
    color: #FFF;
    font-family: "Unitext Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; /* 1.5rem */
    letter-spacing: 0.01rem;
}
.download-img{
    width: 328.5px;
    height: 637px;
    object-fit: cover;
}
.download-content-icondiv{
    display: flex;
    gap: 8px;
    .play-store{
        display: flex;
        /* width: 120px; */
        height: 40px;
        padding: 5px 10px 6.5px 8px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        border-radius: 6px;
        border: 1px solid #000;
        background: #FFF;
        span, p{
            align-self: stretch;
            color: #000;
            font-family: "Unitext Regular";
            font-size: 0.7rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        p{
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 100%; /* 1.125rem */
            letter-spacing: -0.02938rem;
        }
    }
}
.insight{
    width: 100%;
    background: linear-gradient(180deg, #E3ECF2 0%, #FCFCFC 100%);
}
.insight-cover{
    width: 95.88%;
    margin: 120px auto;
    padding-top: 120px;
}
.insight-content{
    display: flex;
    flex-direction: column;
    width: 768px;
    height: 83px;
    margin: auto;
    gap:16px;
    justify-content: space-between;
    text-align: center;
}
.insight-content-title{
    font-family: "Florencesans Exp";
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
}
.insight-content-subtext{
    font-family: "Unitext Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;
}
.insight-card-view{
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.insight-card{
    text-align: center;
    overflow: hidden;
}
.insight-card-img{
    width: 377px;
    height: 267px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    position: relative;
}
.insight-card-img:hover{
    transform: scale(1.1);
    object-fit: cover;
}
.insight-card-title{
    padding: 10px;
    font-family: "Unitext Regular";
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 700;
    text-align: left;
}
.insight-card-title:hover{
    cursor: pointer;
    color: rgba(248, 67, 67, 0.801);
}
.insight-bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 70px;
    justify-content: space-between;
    text-align: left;
}
.insight-card-name{
    font-family: 'Unitext Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--Primary-Primary);
}
.insight-card-bottom{
    font-family: 'Unitext Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--Neutrals-Neutrals900);
}
