.property-title-container{
    padding: 24px 7%;
    gap: var(--Spacing-xl, 48px);
    align-self: stretch;
}
.header-nav-text{
    color: var(--Basse-Base-Black, #333);
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.property-info-container {
    gap: 16px;
    align-self: stretch;
    .property-heading, .location-text{
        color: var(--Base-Base-Black, #333);
        font-family: "Florencesans Exp";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 43.2px */
    }
    .property-cta {
        display: flex;
        justify-content: space-between;
        align-items: start;
        align-self: stretch;
        width: 100%;
        .location-text {
            color: var(--Primary-Primary700, #477899);
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.actions-container{
    gap: 8px;
    .actions-icon{
        width: 16px;
        height: 16px;
    }
    button {
        height: 28px;
        gap: var(--Spacing-xxs, 4px);
        border-radius: 8px;
        border: 1px solid var(--Primary-Primary200, #C7D9E5);
        color: var(--Base-Base-Black, #333);
        font-family: "Unitext Regular";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 141.4%; /* 16.968px */
        letter-spacing: 0.12px;
    }
}


/* Property Photos Section */
.property-photos{
    padding: 0 7%;
    gap: 24px;
}
.property-img-container{
    width: 70%;
    height: 615px;
}
.property-img-container img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.property-other-images{
    display: flex !important;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 30%;
    gap: 24px;
    
    a{
        width: 130.667px;
        height: 28px;
        border-radius: 8px;
        gap: var(--Spacing-xxs, 4px);
        flex-shrink: 0;
        border: 1px solid var(--Neutrals-Neutrals200, #DADADA);
        background: var(--Base-Base-White, #FFF);
        color: var(--Base-Base-Black, #333);
        font-family: "Unitext Regular";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 141.4%; /* 16.968px */
        letter-spacing: 0.12px;
        z-index: 2;
        bottom: 10px;
        right: 15px;
    }
    img{
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
        height: 189px;
    }
}
.property-details-heading{
    color: var(--Primary-Primary900, #2D4C61);
    font-family: "Florencesans Exp";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 26.4px */
}
.features-text{
    color: var(--Neutrals-Neutrals900, #585858);
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
}
.property-details{
    padding: 48px 7% 0px 7%;
    gap: 64px;
    display: grid;
    grid-template-columns: 74% 22%;
    align-items: start;
    align-self: stretch;
    gap: var(--Spacing-xl, 48px);
        /* display: flex;
        align-items: start; */
    .left-panel{
        
        gap: 72px;
        /* flex-shrink: 0; */
        .property-specs{
            gap: 16px;
            .specs-container{
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                padding: 24px var(--Spacing-xl, 48px);
                border-radius: 8px;
                background: var(--Base-Base-White, #FFF);
                box-shadow: 0px 46px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.01), 0px 17px 10px 0px rgba(0, 0, 0, 0.05), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
                .specs{
                    gap: 8px;
                    .specs-details{
                        gap: 8px;
                        align-self: stretch;
                    }
                    .specs-text, .property-details-text, .spec-icon-text{
                        color: var(--Base-Base-Black, #333);
                        text-align: center;
                        font-family: "Unitext Regular";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 21.6px */
                    }
                    .spec-icon-text, .property-details-text{
                        margin: 0;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 0.16px;
                    }
                }
            }
        }
        .divider{
            height: 1px;
            align-self: stretch;
            border: 1px solid #C7C7C7;
        }
        .property-description, .property-features {
            gap: 16px;
        }
        .property-features{
            .features{
                gap: 80px;
                width: 100%;
                .left-features{
                    width: 100%;
                    gap: 24px;

                }
            }
        }
        .amenities{
            gap: 16px;
            .amenities-container{
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                .amenities-items{
                    width: 166px;
                    gap: 24px;
                    .amenities-item{
                        gap: 16px;
                        .amenities-text{
                            color: var(--Base-Base-Black, #333);
                            text-align: right;
                            font-family: "Unitext Regular";
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 24px */
                            letter-spacing: 0.16px;
                        }
                    }
                }
            }
        }
    }
    .right-panel{
        /* width: 270px; */
        padding: 38px 0px;
        gap: var(--Spacing-xl, 48px);
        /* flex-shrink: 0; */
        border-radius: 10px;
        background: var(--Background-Color, #FCFCFC);
        .price{
            width: 238px;
            padding: 32px 0px 16px 0px;
            border-radius: 8px;
            background: var(--Base-Base-White, #FFF);
            box-shadow: 0px 46px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.01), 0px 17px 10px 0px rgba(0, 0, 0, 0.05), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
            .price-content{
                display: flex !important;
                width: 206px;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                flex-shrink: 0;
                h5{
                    color: var(--Secondary-Secondary500, #C2A269);
                    font-family: "Unitext Regular";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 28.8px */
                }
                button{
                    height: var(--Spacing-xl, 48px);
                    padding: var(--Spacing-ml, 24px);
                    border-radius: 8px;
                    background: var(--Primary-Primary, #203645);
                    color: var(--Base-Base-White, #FFF);
                    font-family: "Unitext Regular";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 19.2px */
                }
                .virtual-tour{
                    gap: 1px;
                    p{
                        margin: 0;
                        color: var(--Primary-Primary, #203645);
                        font-family: "Unitext Regular";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: 0.16px;
                    }
                }
            }
        }
        .book-tour {
            width: 238px;
            padding: 16px;
            gap: var(--Spacing-xl, 48px);
            border-radius: 8px;
            background: var(--Base-Base-White, #FFF);
            box-shadow: 0px 46px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.01), 0px 17px 10px 0px rgba(0, 0, 0, 0.05), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
            .book-tour-content{
                gap: 24px;
                flex: 1 0 0;
                h5{
                    color: var(--Base-Base-Black, #333);
                    text-align: center;
                    font-family: "Florencesans Exp";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%; /* 21.6px */
                }
                .tour-date-container{
                    padding: 14px 10px;
                    border-radius: 10px;
                    border: 1.5px solid var(--Neutrals-Neutrals200, #DADADA);
                    background: var(--Base-Base-White, #FFF);
                    width: 174px;
                    .calender-picker{
                        gap: 8px;
                        .calender{
                            top: 0;
                            left: 0;
                        }
                        input[type=date]{
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                            box-sizing: border-box;
                        }
                        input[type=date]::-webkit-calendar-picker-indicator {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            cursor: pointer;
                            }
                        p{
                            margin: 0;
                            color: var(--Neutrals-Neutrals900, #585858);
                            font-family: "Unitext Regular";
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%; /* 16.8px */

                        }
                    }
                }
            }
            button{
                width: 100%;
                height: var(--Spacing-xl, 48px);
                padding: var(--Spacing-ml, 24px);
                border-radius: 8px;
                background: var(--Secondary-Secondary, #CDB385);
                color: var(--Base-Base-Black, #333);
                font-family: "Unitext Regular";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 19.2px */
                border: 1px solid #C2A269;
            }
        }
        .enquires{
            width: 238px;
            padding: 16px;
            gap: var(--Spacing-xl, 48px);
            border-radius: 8px;
            background: var(--Base-Base-White, #FFF);
            box-shadow: 0px 46px 13px 0px rgba(0, 0, 0, 0.00), 0px 30px 12px 0px rgba(0, 0, 0, 0.01), 0px 17px 10px 0px rgba(0, 0, 0, 0.05), 0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
            .request-tour{
                width: 206px;
                gap: 24px;
                h5{
                    margin: 0;
                    color: var(--Base-Base-Black, #333);
                    text-align: center;
                    font-family: "Florencesans Exp";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%; /* 21.6px */
                }
                .call{
                    gap: 4px;
                    span{
                        color: var(--Base-Base-Black, #333);
                        font-family: "Unitext Regular";
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: 0.16px;
                    }
                }
            }
        }
    }
    
}
/* Map Container */
.map{
    display: flex !important;
    padding: 72px 7%;
    margin: 0 auto;
    width: 100%;
    .map-container{
        display: flex;
        align-self: stretch;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}
.property-reviews{
    display: flex;
    padding: 72px 7%;
    .divider{
        height: 1px;
        align-self: stretch;
        border: 1px solid #C7C7C7;
    }
    .property-reviews-container{
        display: flex;
        align-self: stretch;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .testimonial-scroll{
            display: flex;
            width: 2332px;
            height: 298px;
            flex-wrap: nowrap;
            gap: 16px;
            padding: 18px 0px 10px 0px;
        }
    }
}
.related{
    display: flex !important;
    padding: 48px 7%;
    .related-container{
        display: flex !important;
        align-self: stretch;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        .related-cards{
            display: grid !important;
            grid-template-columns: 32% 32% 32%;
            align-items: flex-start;
            row-gap: 24px;
            column-gap: 24px;
            row-gap: 64px;
            align-self: stretch;
        }
    }
}

@media only screen and (max-width: 600px){
    .property-title-container{
        padding: 24px;
    }
    .property-info-container{
        .property-heading{
            font-size: 1.75rem;
        }
        .property-cta{
            flex-direction: column;
            gap: 8px;
            .location-text{
                font-size: 1rem;
            }
        }
    }
    .property-photos{
        padding: 0px 24px;
        flex-direction: column;
        .property-img-container{
            width: 100%;
            height: 250px;
        }
        .property-other-images{
            width: 100%;
            flex-direction: row;
            gap: unset;
            justify-content: space-between;
            a{
                top: -75px;
                bottom: unset;
            }
            img{
                width: 104px;
                height: 100px;
                object-fit: cover;
            }

        }
    }
    .property-details{
        padding: 48px 24px;
            grid-template-columns: 1fr;
            width: 100%;
            .left-panel{
                width: 100%;

                .property-specs{
                    .specs-container{
                        flex-wrap: wrap;
                        justify-content: space-between;
                        row-gap: 48px;
                        width: 100%;
                    }
                }
                .property-features{
                    .features{
                        width: 100%;
                        flex-wrap: wrap;
                        gap: 20px;
                    }
                }
                .amenities{
                    .amenities-container{
                        justify-content: unset;
                        align-items: start;
                        flex-direction: column;
                        gap: 24px;
                    }
                }
            }
            .right-panel{
                width: 100%;
                padding: unset;
            }

    }
    .related{
        justify-content: center;
        .related-container{
            .related-cards{
                display: flex !important;
                flex-direction: column;
                align-items: center;
                row-gap: 24px;
            }
        }
    }
}