.custom-btn{
    display: flex;
    height: 48px;
    padding: var(--Spacing-ml, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-s, 8px);
    border-radius: 8px;
    font-family: "Unitext Regular", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    transition: all .2s;
        &:hover{
            transform: translateY(-.2rem);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
        }
            &:active{
            transform: translateY(-.1rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
        }
}
/* .custom-btn:hover{
    filter: brightness(80%);
} */
.custom-btn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}