:root{
    --Base-Base-White: #FFF;
    --Base-Base-Black: #333;
    --Spacing-xl: 48px;
    --Spacing-ml: 24px;
    --Neutrals-Neutrals200: #DADADA;
    --Neutrals-Neutrals900: #585858;
    --Primary-Primary: #203645;
    --Secondary-Secondary500: #C2A269;
}


.shop-container {
    padding: 24px 0px 72px 0px;
    gap: 64px;
}

.header{
    width: 1232px;
    gap: 48px;
}

.header-navigation{
    width: 1200px;
    height: 21px;
    color: #333;
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.header-heading {
    color: var(--Base-Base-Black);
    font-family: "Florencesans Exp";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 43.2px */
}

.header-text {
    color: var(--Base-Base-Black);
    font-family: "Florencesans Exp";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
}

.main-container {
    gap: 24px;
    width: 1232px;
}

.sidebar-container {
    width: 347px;
    padding: 56px 0px 16px 0px;
    gap: var(--Spacing-xl);
}

.filter-options{
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid var(--Neutrals-Neutrals200);
    background: var(--Base-Base-White);
}

.sidebar-header {
    color: var(--Base-Base-Black);
    font-family: "Florencesans Exp";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    flex: 1 0 0;
}

.results-header{
    gap: 447px;
    align-self: stretch;
}

.results-summary {
    color: var(--Base-Base-Black);
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.sort-label-container{
    gap: 16px;
}
.sort{
    color: var(--Base-Base-Black);
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}

.default-input {
    display: flex;
    width: 138px;
    height: var(--Spacing-xl, 48px);    
    align-items: flex-start;
}

.select-input{
    color: var(--Neutrals-Neutrals900);
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.select-form{
    gap: 24px;
}
.select-option {
    width: 298px;
    height: var(--Spacing-xl, 48px);
    padding: 8px 16px;
}

.input {
    gap: 32px;
    /* width: 100%; */
}
.filter-btn-container {
    gap: 16px;
    align-self: stretch;
}
.filter-btn, .filter-btn-white{
    width: 100%;
    height: var(--Spacing-xl);
    padding: var(--Spacing-ml);
    border-radius: 8px;
    background: var(--Primary-Primary);
    color: var(--Base-Base-White);
    font-family: "Unitext Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.filter-btn-white{
    color: var(--Primary-Primary);
    border: 1px solid var(--Primary-Primary, #203645);
    background: var(--Base-Base-White, #FFF);
}

/* Laterst Propertises Sidebar */
.latest-propertises {
    width: 346px;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid var(--Neutrals-Neutrals200);
    background: var(--Base-Base-White);
}
.latest-propertises-header{
    color: var(--Base-Base-Black);
    font-family: "Florencesans Exp";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
}
.latest-propertises-card{
    gap: 24px;
}
/* Latest-Card */
.latest-card-container{
    width: 298px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid var(--Neutrals-Neutrals100);
    background: var(--Base-Base-White);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.latest-card-img{
    width: 149px;
    height: 170px;
    border-radius: 8px 0px 0px 8px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid var(--Neutrals-Neutrals200);
    background: lightgray -41.682px 0px / 171.026% 100% no-repeat;
}

.latest-card-body{
    padding: 8px;
    gap: 4px;
    flex: 1 0 0;
}

.latest-card-title{
    color: var(--Neutrals-Neutrals900);
    font-family: "Unitext Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.4%; /* 16.968px */
    letter-spacing: 0.12px;
}

.latest-card-heading {
    color: var(--Base-Base-Black);
    font-family: "Unitext Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.location-container {
    gap: 4px;
}

.latest-price{
    color: var(--Secondary-Secondary500, #C2A269);
    font-family: "Unitext Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
}
.naira{
    width: 16px;
    height: 16px;
}
.latest-card-divider{
    width: 133px;
    height: 1px;
    background: var(--Neutrals-Neutrals200);
}
.footer-content{
    gap: 4px;
}
.bedroom-icon {
    width: 16px;
    height: 16px;
    color: var(--Secondary-Secondary500);
}
.footer {
    width: 100%;
}
.footer-txt{
    color: var(--Neutrals-Neutrals900);
    font-family: "Unitext Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.4%; /* 16.968px */
    letter-spacing: 0.12px;
}