.property-title{
    gap: 16px;
    .property-back-navigation{
        gap: 8px;
    }
}

.view-photos-container{
    padding: 0px 0px 120px 0px;
    .view-photos{
        display: flex;
        padding: 0px 20px;
        width: 1232.503px;
        height: 844px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        .prevIcon-container{
            width: 48px;
            height: 48px;
            padding: 0 12px;
            border-radius: 50%;
            border: 1px solid var(--Neutrals-Neutrals200, #DADADA);
            background: var(--Base-Base-White, #FFF);
        }
        .view-photos-carousel{
            img{
                filter: brightness(90%);
            }
        }
        .other-photos{
            width: 100%;
            height: 205px;
            .active-carousel{
                filter: brightness(100%);
            }
            img{
                width: 199px;
                height: 100%;
                filter: brightness(50%);
            }

        }
    }


}