.user-dashboard-container{
    width: 100%;
    .user-dashboard-main-content{
        display: flex;
        min-width: 82%;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
        h2{
            color: var(--Primary-Primary, #203645);
            font-family: "Florencesans Exp";
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 2.7rem */
        }
        .content-layout{
            display: inline-flex;
            align-items: flex-start;
            gap: 40px;
            width: 100%;
            .property-services-container{
                display: flex;
                width: 64%;
                /* width: 724px; */
                flex-direction: column;
                align-items: flex-end;
                gap: 48px;
                .property-section{
                    display: flex;
                    width: 100%;
                    padding: 17px 24px;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 16px;
                    border-radius: 8px;
                    border: 1.5px solid var(--Primary-Primary200, #C7D9E5);

                    .property-list{
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        align-self: stretch;
                    }
                }
                .services-section{
                    display: flex;
                    width: 100%;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    border-radius: 8px;
                    border: 1.5px solid var(--Primary-Primary200, #C7D9E5);
                    background: var(--Base-Base-White, #FFF);
                }
                .booked-table{
                    width: 100%;
                    th, td{
                        color: var(--Neutrals-Neutrals900, #585858);
                        font-family: "Unitext Regular";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 16.8px */
                        padding: 0px 32px;
                        height: 48px;
                        border-bottom: 2px solid var(--Primary-Primary100, #E3ECF2);
                    }
                    td{
                        color: var(--Base-Base-Black, #333);
                        font-weight: 400;
                        .upcoming, .in-progress, .completed{
                            font-size: 14px;
                            height: 24px;
                            padding: 4px;
                            border-radius: 999px;
                            font-weight: 700;
                            color: var(--Error-Error300, #C4170B);
                            background: #FBC0BC;
                        }
                        .in-progress{
                            padding: 4px 0.5px;
                            color: #9D7B40;
                            background: #FFF8BE;
                        }
                        .completed{
                            color: #357B38;
                            background-color: #C3E5C4;
                        }
                    }
                }
            }
            .notifications-payment-container{
                /* max-width: 370px; */
                width: 32%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 48px;
                .notification-section{
                    display: flex;
                    padding: 24px;
                    flex-direction: column;
                    gap: 16px;
                    border-radius: 8px;
                    border: 1.5px solid var(--Primary-Primary200, #C7D9E5);
                    background: var(--Base-Base-White, #FFF);
                    
                }
                .payment-section{
                    display: flex;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    gap: 16px;
                    border-radius: 8px;
                    border: 1.5px solid var(--Primary-Primary200, #C7D9E5);
                    background: var(--Base-Base-White, #FFF);
                }
            }

        }
    }
}

.property-section-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    h3{
        margin: 0;
        color: var(--Base-Base-Black, #333);
        font-family: "Florencesans Exp";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.35rem */
    }
    a{
        display: flex;
        height: 28px;
        padding: var(--Spacing-s, 8px);
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        text-decoration: underline;
        color: var(--Primary-Primary, #203645);
        font-family: "Unitext Regular";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.05rem */
    }
}
.notification-list{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Primary-Primary100, #E3ECF2);
    background: var(--Base-Base-White, #FFF);
    .notification-icon{
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
    }
    .notification-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
        .notification-title{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            p{
                color: var(--Base-Base-Black, #333);
                font-family: "Unitext Regular";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 1.05rem */
            }
            span{
                color: var(--Primary-Primary700, #477899);
                font-family: "Unitext Regular";
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 141.4%; /* 1.0605rem */
                letter-spacing: 0.0075rem;
            }
            .unpaid, .paid{
                padding: 4px 8px;
                border-radius: 999px;
                background:  #FBC0BC;
                color:#C4170B;
                font-family: "Unitext Regular";
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 1.05rem */
            }
            .paid{
                background:  #C3E5C4;
                color:#357B38;
            }
        }
        p{
            color: var(--Neutrals-Neutrals900, #585858);
            font-family: "Unitext Regular";
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 141.4%; /* 1.0605rem */
            letter-spacing: 0.0075rem;
        }
    }
}
