.dashboard-nav-wrapper {
    position: sticky;
    height: 80px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E3ECF2;
    .dashboard-nav-title{
        color: var(--Base-Base-Black, #333);
        font-family: "Florencesans Exp";
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 1.65rem */
    }
    .dashboard-nav-items{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .dashboard-search{
            position: relative;

            input[type='search']{
                height: 34px;
                min-width:260px;
                padding: 8px 2px 8px 34px;
                border-radius: 8px;
                border: 1px solid var(--Primary-Primary, #203645);
                color: var(--Neutrals-Neutrals900, #585858);
                font-family: "Unitext Regular";
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 1.2rem */
            }
            .search-icon{
                position: absolute;
                top: 3px;
                left: 8px;
                width: 24px;
                height: 24px;
            }
        }
        .dashboard-nav-link{
            text-decoration: none;
            height: 36px;
            padding: 16px;
            border-radius: 8px;
            background: var(--Primary-Primary, #203645);
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Base-Base-White, #FFF);
            font-family: "Unitext Regular";
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 1.2rem */
        }
        .notification-profile{
            height: 36px;
            display: flex;
            gap: 7px;
            padding-left: 10px;
            border-left: 1px solid #203645;
            justify-content: center;
            align-items: center;
            .notification-icon{
                position: relative;
                cursor: pointer;
                .bell-icon{
                    width: 24px;
                    height: 24px;
                }
                span{
                    position: absolute;
                    left: 9px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    padding: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: #F44336;
                    color: var(--Primary-Primary, #203645);
                    font-family: "Unitext Regular";
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 141.4%; /* 1.0605rem */
                    letter-spacing: 0.0075rem;
                }
            }
            .dashboard-profile-image-wrapper{
                position: relative;
                display: flex;
                height: 36px;
                padding: 4px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                border-radius: 8px;
                border: 1px solid var(--Primary-Primary200, #C7D9E5);
                background: var(--Neutrals-Base-White, #FFF);
                img{
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
                .dashboard-dropdown{
                    position: absolute;
                    top: 37px;
                    right: -20px;
                    width: 194px;
                    padding: 0px 16px ;
                    border-radius: 8px;
                    border: 1.5px solid var(--Primary-Primary200, #C7D9E5);
                    background: var(--Base-Base-White, #FFF);
                    box-shadow: 0px 10px 10px 0px rgba(32, 54, 69, 0.10);
                    .dropdown-icon{
                        width: 20px;
                        height: 20px;
                        flex-shrink: 0;
                    }
                    .dropdown-link{
                        display: flex;
                        gap: 16px;
                        padding: 20px 0px 20px 0px;
                        border-bottom: 1px solid #C7D9E5;
                        color: var(--Base-Base-Black, #333);
                        font-family: "Unitext Regular";
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%; /* 1.2rem */
                    }
                    .log-out{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
.hide-dropdown{
    display: none;
}