@import url('https://fonts.cdnfonts.com/css/florencesans');
body {
  margin: 0;
  font-family: 'Florencesans Exp', sans-serif;
  background-color: #FCFCFC;
}
:root{
  --Primary-Primary: #203645;
  --Base-Base-White: #FFF;
  --Base-Base-Black: #333;
  --Spacing-xl: 48px;
  --Spacing-m: 16px;
  --Spacing-l: 32px;
  --content-width: 96.88%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Florencesans Exp', sans-serif;
};

*:before, 
*:after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
button{
  outline: none;
  border: none;
}
