.dashboard-container{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    .side-bar-nav-container{
        display: flex;
        width: 251px;
        max-width: 17.54%;
        height: 900px;
        padding: 24px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        background: var(--Primary-Primary900, #2D4C61);
        .side-bar-content{
            display: flex;
            width: 203px;
            height: 852px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            .nav-link-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;
                align-self: stretch;
                .side-bar-logo-container{
                    img{
                        width: 158px;
                        height: 33.482px;
                        flex-shrink: 0;
                        color: #fff;
                    }
                }
                .nav-links{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    align-self: stretch;
                    .nav-link{
                        display: flex;
                        height: 48px;
                        padding: 8px 16px;
                        align-items: center;
                        gap: 16px;
                        align-self: stretch;
                        text-decoration: none;
                        border-radius: 8px;
                        .nav-link-item{
                            color: var(--Base-Base-White, #FFF);
                            font-family: "Unitext Regular";
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 1.5rem */
                            letter-spacing: 0.01rem;
                        }
                    }
                }
            }
            .referral-card {
                position: relative;
                width: 203px;
                min-width: 100%;
                height: 238px;
                border-radius: 8px;
                background: var(--Secondary-Secondary, #CDB385);
                overflow: hidden;
                z-index: 0;
                .elipse {
                    position: absolute;
                    bottom: -60%;
                    right: -50%;
                    color: #B6904E;
                    width: 220px;
                    height: 220px;
                    z-index: -1;
                }
                .referral-content{
                    display: flex;
                    padding: 16px;
                    min-width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    .referral-header{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .referral-body{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        align-self: stretch;
                        h5{
                            color: var(--Base-Base-Black, #333);
                            font-family: "Unitext Regular";
                            font-size: 1.125rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%; /* 1.35rem */
                            margin: 0;
                        }
                        p{
                            color: var(--Base-Base-Black, #333);
                            font-family: "Unitext Regular";
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 1.5rem */
                            letter-spacing: 0.01rem;
                        }
                    }
                }
            }
        }
    }
    .top-nav{
        
    }
}
